# Ignore all files in the node_modules directory
node_modules

# Ignore all files in the dist directory
dist

# Ignore all files in the build directory
build

# Ignore all files in the coverage directory
coverage

# Ignore all files in the .vscode directory
.vscode

# Ignore all files with the .env extension
*.env

# Ignore all files with the .log extension
*.log

# Ignore all files with the .json extension
*.json

# Ignore all files with the .md extension
*.md

# Ignore all files with the .yml extension
*.yml

# Ignore all files with the .yaml extension
*.yaml